@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-primary {
    @apply bg-white dark:bg-[#1a1b26];
  }

  .bg-secondary {
    @apply bg-gray-400 dark:bg-gray-800;
  }

  .fg-bright {
    @apply text-[#374151] dark:text-[#e5e5f8];
  }

  .fg-primary {
    @apply text-[#374151] dark:text-[#c0caf5];
  }

  .fg-muted {
    @apply text-[#a9b1d6] dark:text-[#51597e];
  }

  .accent {
    @apply text-[#e0af68];
  }

  .muted-border {
    @apply border-[#414868] dark:border-[#414868];
  }
}

/* make math bigger */
.katex {
  font-size: 1.75em;
}

.line.highlighted {
  background-color: rgba(175, 175, 255, 0.15);
  width: 100%;
  display: inline-block;
}

/* Works on Firefox */
pre {
  scrollbar-width: auto;
  scrollbar-color: #c0caf5 var(--tw-prose-pre-bg);
}

/* Works on Chrome, Edge, and Safari */
pre::-webkit-scrollbar-track {
  background: orange;
}

pre::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
  border: 3px solid orange;
}
