@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-bold;
  }
  h2 {
    @apply mb-2 mt-10 text-3xl font-bold;
  }
  h3 {
    @apply mb-2 mt-6 text-2xl font-bold;
  }
  h4 {
    @apply text-xl font-bold;
  }
  p {
    @apply my-4;
  }
  blockquote {
    @apply fg-muted border-l-2 pl-4 italic;
  }
  a {
    @apply hover:accent underline underline-offset-2;
  }
  pre {
    @apply bg-[#21222c] text-sm;
  }
  code {
    @apply fg-code rounded-sm bg-[#343648] px-1.5 py-0.5;
  }
  pre code {
    @apply bg-transparent p-0 font-normal;
  }
  ol {
    @apply list-decimal;
  }
}

@layer utilities {
  .bg-primary {
    @apply bg-[#ffffff] dark:bg-[#0e0e0e];
  }

  .bg-secondary {
    @apply bg-gray-400 dark:bg-[#1b1b1b];
  }

  .fg-bright {
    @apply text-[#000] dark:text-[#ffffff];
  }

  .fg-primary {
    @apply text-[#333333] dark:text-[#e1e1e1];
  }

  .fg-muted {
    @apply text-[#33333396] dark:text-[#e1e1e19c];
  }

  .fg-code {
    @apply text-[#ffffff];
  }

  .accent {
    @apply text-[#dd1616] dark:text-[#ff5959];
  }

  .highlight {
    @apply text-[#8ab1ff] dark:text-white;
  }

  .muted-border {
    @apply border-[#414868] dark:border-[#e1e1e19c];
  }
}

* {
  box-sizing: content-box;
}

/* make math bigger */
.katex {
  font-size: 1.75em;
}

.line.highlighted {
  background-color: rgba(175, 175, 255, 0.15);
  width: 100%;
  display: inline-block;
}

/* Works on Firefox */
pre {
  scrollbar-width: auto;
  scrollbar-color: #fff #00000000;
}

.markdown ul {
  list-style-type: '- ';
  padding-left: 1.25rem;
}
.markdown li {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.markdown > p:first-of-type::first-letter {
  font-size: 3.9rem;
  float: left;
  padding-right: 0.2rem;
  font-family: var(--font-serif);
}
.markdown ol {
  padding-left: 1.75rem;
}

.markdown h2,
.markdown h3,
.markdown h4 {
  margin-left: -1.25rem;
}
h2,
h3,
h4 {
  font-family: var(--font-serif);
}

h2:hover .icon-link::before,
h3:hover .icon-link::before,
h4:hover .icon-link::before {
  visibility: visible;
}

h2 a,
h3 a,
h4 a {
  text-decoration-line: none;
}

h2 a:hover,
h3 a:hover,
h4 a:hover {
  color: inherit;
}

.icon-link::before {
  visibility: hidden;
  content: '§';
  margin-right: 0.5rem;
}

.active-heading::before {
  content: '━━';
  position: absolute;
  left: -0.7rem;
}

.hovershine::before {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.hovershine:hover::before {
  -webkit-animation: shine 0.75s;
  animation: shine 0.75s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}

.react-transform-wrapper,
.react-transform-component {
  height: 100% !important;
  width: 100% !important;
}
