.avatar {
  border-radius: 50%;
}

.nav {
  list-style-type: none;
}

.nav li {
  padding-top: 15px;
}

.nav a {
  color: inherit;
}

.nav a:hover {
  color: var(--accent-color);
}

.headerStart {
  display: flex;
  gap: 1rem;
}

.headerTitle {
  font-size: 1.25rem;
  line-height: 40px;
}

@media (min-width: 1280px) {
  .bio {
    position: fixed;
    right: calc(50% + 400px);
    top: 2rem;
    max-width: 300px;
    padding-right: 1rem;
    text-align: right;
    border-right: 3px solid var(--accent-color);
  }
}

@media (max-width: 1279px) {
  .bio {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 3px solid var(--accent-color);
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .nav {
    display: flex;
    gap: 2rem;
  }

  .nav li {
    padding: 0;
    line-height: 40px;
  }
}
