.title {
  margin-top: 2rem;
  margin-bottom: 0.25rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  border-bottom: 1px grey solid;
}

.coverImage {
  position: relative;
  width: 100%;
}

.coverImage img {
  border-radius: 10px;
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 1rem;
}

@media (hover: hover) {
  .tags li a:hover {
    color: var(--foreground);
  }
}

.tags li a {
  color: var(--accent-color);
}

.tags li {
  color: var(--muted);
}

.tags a {
  text-decoration: none;
}

.tagButton {
  cursor: pointer;
}

.active {
  border-bottom: 2px solid var(--foreground);
  color: var(--foreground) !important;
}

.previewContainer {
  border: 1px solid var(--muted);
  border-radius: 0.75rem;
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: row-reverse;
  color: var(--foreground);
  text-decoration: none;
}

.previewContainer:hover {
  background-color: var(--background-highlight);
}

.flexSpacer {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 1rem;
}

.flexDate {
  text-align: right;
  white-space: nowrap;
  color: var(--muted);
}

.flexTitle ul {
  margin: 0;
  padding-top: 0.25rem;
  font-size: 0.9rem;
}

@media (max-width: 767px) {
  .previewContainer {
    flex-direction: column;
  }

  .flexDate {
    text-align: left;
    margin-bottom: 0.25rem;
  }
}
