.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  margin-top: 1rem;
  animation: fade-in 0.3s ease-out;
}

.maintitle {
  padding-bottom: 1rem;
}

.postHeader {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.postHeader a {
  color: var(--foreground);
  text-decoration: none;
}

.postHeader a:hover {
  color: var(--accent-color);
}
