:root {
  --background: #fff;
  --background-highlight: #eee;
  --foreground: #000;
  --accent-color: #f6c177;
  --accent-color-secondary: #31748f;
  --code-background: #191724;
  --code-foreground: #e0def4;
  --code-highlight: #2a2738;
  --muted: #6e6a86;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --background-highlight: #111;
    --foreground: #fff;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

a {
  color: var(--accent-color-secondary);
  user-select: none;
}

a:hover {
  color: inherit;
}

svg {
  vertical-align: middle;
  display: inline-block;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

p,
h1,
h2,
h3,
h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

ul {
  padding-left: 1rem;
}

ol {
  padding-left: 2rem;
}

pre {
  background-color: var(--code-background);
  border-radius: 1rem;
  padding: 0.5rem;
  overflow: scroll;
}

pre > code {
  display: grid;
}

code {
  color: var(--code-foreground);
  counter-reset: line;
  background-color: var(--code-background);
  border-radius: 0.25rem;
  padding: 0.2rem;
}

.line.highlighted {
  background-color: var(--code-highlight);
}

pre > code[data-line-numbers] > .line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 2rem;
  margin-right: 0.5em;
  text-align: right;
  color: gray;
}

@media (max-width: 1279px) {
  aside {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--accent-color);
    font-size: 0.9rem;
    margin-bottom: 1rem;
    text-align: left;
  }
}

@media (min-width: 1280px) {
  aside {
    position: absolute;
    left: calc(50% + 400px);
    transform: translateY(calc(-100% - 1rem));
    border-left: 3px solid var(--accent-color);
    border-bottom: 3px solid var(--accent-color);
    padding-bottom: 1rem;
    padding-left: 1rem;
    margin-right: 0.5rem;
    max-width: 300px;
    text-align: left;
    clear: both;
  }
}

aside::before {
  content: 'Note [' attr(note) ']:';
  display: block;
  color: var(--accent-color);
  margin-bottom: 0.5em;
}

n {
  vertical-align: super;
  font-size: 0.5em;
  color: var(--accent-color);
}

figure {
  width: 100%;
}

figure img {
  border-radius: 1rem;
  width: 100%;
}

figcaption {
  color: var(--muted);
  font-style: italic;
}

blockquote {
  font-style: italic;
  border-left: 3px solid var(--muted);
  padding-left: 1rem;
}

.headingLink {
  color: inherit;
  text-decoration: none;
}
.headingLink:hover::after {
  margin-left: 5px;
  color: var(--muted);
}
h1 .headingLink:hover::after {
  content: '#';
}
h2 .headingLink:hover::after {
  content: '##';
}

h3 .headingLink:hover::after {
  content: '###';
}
h4 .headingLink:hover::after {
  content: '####';
}
h5 .headingLink:hover::after {
  content: '#####';
}
